/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #19c7e2, #2575fc);
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-container h2{
    font-size: 23px;
  }
  
  .login-card {
    background: #fff;
    color: #333;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2575fc;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #1a5ecc;
  }
  
  .signup-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #2575fc;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  